<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="{{url_for('static', filename='styles/formulario.css')}}"
    />
    <title>Editar</title>
  </head>
  <body>
    <div class="container">
      <h1>Editar Teclado</h1>
      <a href="{{url_for('teclados')}}">Regresar</a>
      <form action="" method="POST">
        {{forma.csrf_token}}

        <p>
          {{forma.marca.label}}<br />
          {{forma.marca(size=30)}}
        </p>
        <p>
          {{forma.modelo.label}}<br />
          {{forma.modelo(size=30)}}
        </p>
        <p>
          {{forma.precio.label}}<br />
          {{forma.precio(size=30)}}
        </p>
        <p>
          {{forma.unidades.label}}<br />
          {{forma.unidades(size=30)}}
        </p>
        {{forma.enviar()}}
      </form>
    </div>
  </body>
</html>
